.timeline-container {
  position: relative;
  margin: 50px auto;
  &:after {
    content: '';
    position: absolute;
    width: 2px;
    background: #6c5ce7;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  }
}
